name = "notion-image-proxy"
main = "worker.mjs"
compatibility_date = "2026-07-22"

# Replace cdn.example.com with your Notion asset CDN domain.
routes = [
  { pattern = "cdn.liuqi.cc", custom_domain = true }
]
